<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>com.hg.jiagou.control.sys.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>DeptServlet</servlet-name>
    <servlet-class>com.hg.jiagou.control.sys.DeptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeptServlet</servlet-name>
    <url-pattern>/DeptServlet</url-pattern>
  </servlet-mapping>
 
 <servlet>
    <servlet-name>RoleServlet</servlet-name>
    <servlet-class>com.hg.jiagou.control.sys.RoleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RoleServlet</servlet-name>
    <url-pattern>/RoleServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>FunctionServlet</servlet-name>
    <servlet-class>com.hg.jiagou.control.sys.FunctionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FunctionServlet</servlet-name>
    <url-pattern>/FunctionServlet</url-pattern>
  </servlet-mapping>
  
  <filter>
    <filter-name>Filter1</filter-name>
    <filter-class>com.hg.jiagou.filter.Filter1</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Filter1</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <listener>
    <listener-class>com.hg.jiagou.listener.MyHttpSessionListener</listener-class>
  </listener>
  
  <servlet>
    <servlet-name>Kaptcha</servlet-name>
    <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
    <init-param>
      <param-name>kaptcha.border</param-name>
      <param-value>no</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.textproducer.font.color</param-name>
      <param-value>red</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.image.width</param-name>
      <param-value>135</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.textproducer.char.string</param-name>
      <param-value>ACDEFHKPRSTWX345679</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.image.height</param-name>
      <param-value>50</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.textproducer.font.size</param-name>
      <param-value>43</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.noise.color</param-name>
      <param-value>black</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.textproducer.char.length</param-name>
      <param-value>4</param-value>
    </init-param>
    <init-param>
      <param-name>kaptcha.textproducer.font.names</param-name>
      <param-value>Arial</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Kaptcha</servlet-name>
    <url-pattern>/Kaptcha.jpg</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
  	<welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
</web-app>